.quizdivtje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    padding: 50px;
    transition: all 0.25s ease-in-out;
}

.quiz1, .quiz2 {
    background-color: #7bb27a;
    padding: 20px;
    border-radius: 10px;
}

.quiz1:hover, .quiz2:hover {
    background-color: #b2b27a;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
}